.contact-left {
    margin-top: 100px;
}

.contact span {
    color: #6a6a6a;
    font-size: 14px;
}

.contact .icon{
    color: #6a6a6a;
    font-size: 14px;
    margin-right: 10px;
}

.contact-left .contact-left-title > h2 {
    color: #222222;
    font-size: 36px;
    font-weight: 600;
}

.contact .form-contact-left input {
    width: 100%;
    margin-bottom: 30px;
    border: none;
    outline: none;
    border-bottom: 2px solid #b5b5b5;
    padding-bottom: 12px;
}

.contact .form-contact-left input.request-detail{
    padding-bottom: 50px;
}

.contact .form-contact-left input.btn-contact{
    background: #e51e25;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    padding: 14px 0px 10px 0px;
    font-weight: 600;
    border-radius: 4px;
}


.contact .form-contact-left input::placeholder {
    font-size: 14px;
    color: #b5b5b5;
}

.contact .contact-right {
    margin-top: 139px;
}
