.detail .image-product {
    background: #f6f6f6;
    margin-top: 43px;
}

.detail .image-product img {
    width: 87%;
    height: 104%;
    padding: 16% 0;
}

.detail .product-detail {
    margin-top: 70px;
}

.detail .product-detail .title-product-detail > h1 {
    font-size: 24px;
    font-weight: 700;
}

.detail .product-detail .content-product-detail > p {
    font-size: 14px;
    color: #747474;
    margin-bottom: 0;
}

.detail .product-detail .price-product-detail > span {
    font-size: 42px;
    color: #f05738;
    font-weight: 600;
}

.detail .product-detail .enquiry-now > a {
    padding: 12px 50px;
    background-color: #e51d25;
    color: #ffffff;
    font-size: 18px;
}

.detail .product-detail ul.social-network {
    padding: 0;
    margin: 0;
}

.detail .product-detail ul.social-network > li {
    list-style-type: none;
    border-radius: 3px;
    margin-right: 5px;
}

.detail .product-detail ul.social-network > li > a > i {
    margin-right: 7px;
    font-size: 13px;
}

.detail .product-detail ul.social-network > li > a > span {
    font-size: 13px;
    font-weight: 600;
}

.detail .product-detail ul.social-network > li.facebook {
    background-color: #405c9d;
}

.detail .product-detail ul.social-network > li.twitter {
    background-color: #08aef0;
}

.detail .product-detail ul.social-network > li.google {
    background-color: #eb493b;
}

.detail .product-detail ul.social-network > li.pinterest {
    background-color: #cf2326;
}

.detail .product-detail ul.social-network > li > a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 5px 7px 5px 10px;
}

.description {
    padding-right: 0;
}

.description .description-title > h1 {
    font-size: 19px;
    color: #444444;
    font-weight: 600;
    display: inline-block;
    padding: 30px 40px 12px 40px;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    margin-bottom: 0;
}

.description .description-content > p {
    font-size: 14px;
    color: #747474;
    padding: 30px 35px 15px 35px;
    border: 1px solid #ebebeb;
    margin-bottom: 0;
}
